.rootLayout{
    padding: 16px 64px;
    height: 100vh;
    display: flex;
    flex-direction: column;

header{
    display: flex;
    align-items: center;
    justify-content: space-between;

.logo{
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 8px;

img{
    width: 35px;
    height: 35px;
}
h2 span{
    color: #29f700;
}
}
}

main{
    flex: 1;
    overflow: hidden;
}
}